{% for type, messages in app.flashes(['info','success','warning','error']) %}
	{% for message in messages %}
		<div>
			<div class="alert alert-{{ type }} my-4">
				{{ message }}
			</div>
		</div>
	{% endfor %}
{% endfor %}
