{% extends 'base.html.twig' %}

{% block title %}
	Facture
{% endblock %}

{% block nav %}{% endblock %}

{% block footer %}{% endblock %}

<style>
.bill-container {

}
.bill-title {}
.bill-order {}

</style>

{% block body %}
	<div class="bill-container">
        <h2 class="bill-title">Facture n°{{ order.id }}</h2>
        <span class="bill-order">commande du
			{{ order.createdAt|date('d/m/Y') }}</span>
	</div>
{% endblock %}
