{% extends 'base.html.twig' %}


{% block title %}
	Commandes
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Commandes</h1>

		{{ form_widget(form.city, {'attr': {'id': 'order_city'}}) }}
		<input type="submit" value="Continuer">


		<div>
			<p>Montant de la commande :
				<span id="cartPrice">{{ total }}</span>€</p>
			<p>Frais de livraison :
				<span id="shippingCost"></span>€</p>
			<p>Total à payer :
				<span id="totalPrice"></span>€</p>
		</div>

	</div>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	 <script>
	    $(document).ready(function() {
		    const citySelector = $('#order_form_city');
			const cityValue = citySelector.val();
			const url = `/city/${cityValue}/shipping/cost`;
			$.ajax({
				url:url,
				type:'GET',
				success:function(response){
				    const newResponse = JSON.parse(response)
					if (parseInt(newResponse.status) === 200) {
			            $("#shippingCost").text(newResponse.content)
			            const cartPrice = parseInt($('#cartPrice').text());
		                const shippingCost = parseInt($('#shippingCost').text());
			            $('#totalPrice').text(cartPrice+shippingCost)
					}
				},
				error:function(xhr, status, error){
				    console.error('Erreur', error);
                }
			})
			citySelector.on('change', function() {
				const newCityValue = $(this).val();
				const newUrl = `/city/${newCityValue}/shipping/cost`;
			$.ajax({
				url: newUrl,
				type:'GET',
				success:function(response){
				    const newResponse = JSON.parse(response)
					 if (parseInt(newResponse.status) === 200) {
                        $("#shippingCost").text(newResponse.content)
	                    const cartPrice = parseInt($('#cartPrice').text());
		                const shippingCost = parseInt($('#shippingCost').text());
			            $('#totalPrice').text(cartPrice+shippingCost)
					}
				},
				error:function(xhr, status, error){
                    console.error('Erreur', error);
				}
			})
	    })
	})
    </script>
    
{% endblock %}
