{% extends 'base.html.twig' %}

{% block title %}
	Commandes
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="text-3xl font-bold text-center">Passer commande</h1>
        
        <div>
            {{ form_start(form) }}
            {{ form_end(form) }}
            <input type="submit" value="Continuer">
        </div>

		<div>
			<p>Montant de la commande :
				<span id="cartPrice">{{ total }}</span>€</p>
			<p>Frais de livraison :
				<span id="shippingCost"></span>€</p>
			<p>Total à payer :
				<span id="totalPrice"></span>€</p>
		</div>

	</div>
 <script>
    document.addEventListener('DOMContentLoaded', function () {
        const citySelector = document.getElementById('order_form_city');
        const shippingCostElement = document.getElementById('shippingCost');
        const cartPriceElement = document.getElementById('cartPrice');
        const totalPriceElement = document.getElementById('totalPrice');

        function calculateTotal(cityId) {
            fetch(`/city/${cityId}/shipping/cost`)
                .then(response => response.json())
                .then(data => {
                    if (parseInt(data.status) === 200) {
                        shippingCostElement.textContent = data.content;
                        const cartPrice = parseInt(cartPriceElement.textContent) || 0;
                        const shippingCost = parseInt(shippingCostElement.textContent) || 0;
                        totalPriceElement.textContent = cartPrice + shippingCost;
                    }
                })
                .catch(error => {
                    console.error('Erreur', error);
                });
        }

        calculateTotal(citySelector.value);

        citySelector.addEventListener('change', function () {
            calculateTotal(this.value);
        });
    });
</script>

{% endblock %}
