{% extends 'base.html.twig' %}


{% block title %}
	Commandes
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Commandes</h1>
		{{ form_start(form) }}
		<input type="submit" value="Continuer">
		{{ form_end(form) }}

		<div>
			<p>Montant de la commande :
				{{ total }}
				€</p>
			<p>Frais de livraison :
			</p>
			<p>
				Total à payer :
			</p>
		</div>

	</div>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	 <script>$(document).ready(function() {
	const citySelector = $('#order_city');
	const cityValue = citySelector.val();
	})
	</script>
{% endblock %}
