{% extends 'base.html.twig' %}

{% block title %}Commande passée avec succès
{% endblock %}

{% block body %}
	<div class="flex items-center justify-center text-green-700 text-3xl m-auto">Commande passée avec succès </div>
{% endblock %}
