<div>
    <h3>COnfirmation de commande</h3>
    <p>Merci pour votre commande n° {{ order.id}}, elle sera traité dans les plus brefs délais</p>
    <span>Détail de la commande</span>
        <table></table>
</div>